body{
    height: 2800px;
    border: 2px solid red;
    background-image: url("./Media/nicolai-fedderholdt-PcoACAsaY98-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.ab>div{
    display: inline-block;
    border: 2px solid red;
    margin: 1rem;
    background-color: black;
    color: white;
    position: relative;
}

.ac{
    padding: 1rem;
    border-radius: 25px;
    position: absolute;
    right: 100px;
    bottom: 50px;
}
.ad,.ae{
    padding: 1rem;
    border-radius: 25px;
}
.aa{
    width: 400px;
    height: 400px;
    border-radius: 50%;
   border: 2px solid yellow;
   background-color: cadetblue;
   font-size: 25px;
   text-decoration: underline;
   text-align: center;
   /* height: 100px; */
   position: relative;
 top: 400px;
 left: 50px;
}
.aa1{
    position: relative;
    top: 25%;
}
.ae{
    position: absolute;
    left: 20%;
}

.bb{
    background-color: aliceblue;
    border: 2px dashed red;
    color: coral;
    font-size: 20px;
    width: 500px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: 50%;
    top: 500px;
}
h2{
    border: 2px solid brown;
    width: 200px;
    padding: 1rem;
    margin: 1rem;
    background-color: black;
    color: beige;
    text-align: center;
    border-radius: 25px;
    position: absolute;
    top: 1300px;
    left: 40%;
}
.menu{
 position: relative;
 top: 900px;
 display: flex;
 flex-flow: wrap;
justify-content: center;
align-content: center;
}
.item{
    width: 300px;
    border: 2px solid aqua;
    border-radius: 30px;
    background-color: aquamarine;
    margin: 2rem;
    padding: 1rem;
    font-size: 30px;
    text-align: center;
}